<!DOCTYPE html>
<html class="nojs" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>LoneStarRuby</title>
  <meta content="LoneStarRuby is a one-day conference for Ruby and Rails developers." name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="favicon.ico" rel="shortcut icon">
  <link media="screen" rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <!-- <link href='http://fonts.googleapis.com/css?family=Biryani:400,600|Antic' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Antic' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

  <%= @inner %>

  </div> <!-- /container -->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
